body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #007bff;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

h1 {
    color: #333;
}

form input, form select, form button {
    display: block;
    width: calc(100% - 22px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#results {
    margin-top: 20px;
    text-align: left;
}

.room {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.room h2 {
    margin: 0;
    padding: 0;
    color: #007bff;
}

.room p {
    margin: 5px 0;
}

.hotel {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .hotel h3 {
    margin: 0;
    padding: 0;
    color: #007bff;
  }
  
  .hotel p {
    margin: 5px 0;
  }